<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cybz_back.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="com.example.cybz_back.entity.mysql.auth.Permission">
        <id property="permId" column="perm_id" jdbcType="BIGINT"/>
        <result property="permCode" column="perm_code" jdbcType="VARCHAR"/>
        <result property="permName" column="perm_name" jdbcType="VARCHAR"/>
        <result property="permGroup" column="perm_group" jdbcType="VARCHAR"/>
        <result property="permDesc" column="perm_desc" jdbcType="VARCHAR"/>
        <result property="isSystem" column="is_system" jdbcType="TINYINT"/>
        <result property="isEnabled" column="is_enabled" jdbcType="TINYINT"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        perm_id,perm_code,perm_name,
        perm_group,perm_desc,is_system,
        is_enabled,created_time
    </sql>
</mapper>
