<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cybz_back.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.example.cybz_back.entity.mysql.auth.Role">
        <id property="roleId" column="role_id" jdbcType="BIGINT"/>
        <result property="roleCode" column="role_code" jdbcType="VARCHAR"/>
        <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
        <result property="roleDesc" column="role_desc" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="isSystem" column="is_system" jdbcType="TINYINT"/>
        <result property="isEnabled" column="is_enabled" jdbcType="TINYINT"/>
        <result property="isDefault" column="is_default" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        role_id,role_code,role_name,
        role_desc,created_time,is_system,
        is_enabled,is_default
    </sql>
</mapper>
