<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cybz_back.mapper.ThumbnailMapper">

    <resultMap id="BaseResultMap" type="com.example.cybz_back.entity.mysql.image.Thumbnail">
        <id property="thumbId" column="thumb_id" jdbcType="BIGINT"/>
        <result property="imageId" column="image_id" jdbcType="BIGINT"/>
        <result property="width" column="width" jdbcType="SMALLINT"/>
        <result property="height" column="height" jdbcType="SMALLINT"/>
        <result property="quality" column="quality" jdbcType="TINYINT"/>
        <result property="hashMd5" column="hash_md5" jdbcType="CHAR"/>
        <result property="storagePath" column="storage_path" jdbcType="VARCHAR"/>
        <result property="generatedTime" column="generated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        thumb_id,image_id,width,
        height,quality,hash_md5,
        storage_path,generated_time
    </sql>
</mapper>
