<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cybz_back.mapper.UserStatMapper">

    <resultMap id="BaseResultMap" type="com.example.cybz_back.entity.mysql.user.UserStat">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="opus" column="opus" jdbcType="INTEGER"/>
            <result property="followerCount" column="follower_count" jdbcType="BIGINT"/>
            <result property="followCount" column="follow_count" jdbcType="BIGINT"/>
            <result property="likeCount" column="like_count" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,opus,follower_count,
        follow_count,like_count
    </sql>
</mapper>
